@media (min-width: 1200px) {
.container {
    max-width: 970px;
}
}
@media (min-width:400px){
.global-search {
padding: 20px 0;
text-align:center;
}
body {
padding-top: 15%;
padding-bottom: 15px;
background:url('img/news.jpg')

/* background:url('img/news.jpg')center center cover no-repeat;  */
/* background-repeat: no-repeat;
background-position:center; */
/* background-size: 100% 100%; */

}
.global-search {
text-align:center;
padding:10px;
}
.global-search .form-control {
width:500px;
}
.global-search * {
display:inline-block;
margin-bottom:0;
position: -webkit-sticky; /* Safari */
position: sticky;
}
}
.topcorner{
position:absolute;
top:2%;
right:2%;
}
.btn{
background-color: rgb(68, 27, 27);
border: none;
/* font-family:Brush Script MT; */
}
.step-links a{
color: #4285F4;
}

/* Image citation */
/* <a href='https://www.freepik.com/photos/people'>People photo created by wirestock - www.freepik.com</a> */

