<html>

<head>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/main.css">
</head>

<body>
    <button onclick="tFunction()" id="bon" title="Go to top">Top</button>
    <div class="topcorner">
        <p>Project Name: {{ name }} </p>
        <p>Student Name: {{ netid }}
        </p>
    </div>

    <!-- <div style="background:url('img/news.jpg');"> -->

    <form class="form-inline global-search" style="text-align: center;">
        <h1 style="font-size: 60px; font-family:Bodoni MT; color:rgb(37, 19, 19);text-align: center;">
            Go! News
        </h1>

        <br><br>

        <div class="form-group">
            <input id="input" type="text" name="search" class="form-control" placeholder="Your Input">
        </div>
        <button type="submit" class="btn btn-info"> Go! </button>
    </form>


   
        <div class="container">
            <form class="form-inline global-search">

        {% if data %}
        <h2>{{output_message}}</h2>
    
        <div class="output">
        {% for d in data %}
        <br>
        <div class="newstitle">
        <a href={{d[1]}}> {{d[0]}} </a>
        </div>
        <div class="newsscore">
        <p>Ranking Score: {{d[2]}}</p>
       </div>
        <br>
        <p></p></br>
        {% endfor %}
        {% endif %}

    </form>
    </div>
    </div>
    
<script>
//Get the button
var button = document.getElementById("bon");

//show down
window.onscroll = function() {sFunction()};

function sFunction() {
 if (document.body.scrollTop > 5 || document.documentElement.scrollTop > 5) {
    button.style.display = "block";
  } else {
    button.style.display = "none";
  }
}

//to the top
function tFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>
</body>

</html>