<html>

<head>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/main.css">
</head>

<body>
    <div class="topcorner">
        <p>Project Name: {{ name }} </p>
        <p>Student Name: {{ netid }}
        </p>
    </div>
    <form class="form-inline global-search" style="text-align: center;">
        <h1 style="font-size: 60px; font-family:Bodoni MT; color:rgb(37, 19, 19);text-align: center;">
            Go! News
        </h1>

        <br><br>

        <div class="form-group">
            <input id="input" type="text" name="search" class="form-control" placeholder="Your Input">
        </div>
        <button type="submit" class="btn btn-info"> Go! </button>
    </form>



    <form class="form-inline global-search">

        {% if data %}
        <h1>{{output_message}}</h1>

        {% for d in data %}
        <br>
        <a href={{d[1]}}> {{d[0]}} </a>
        <p>{{d[2]}}</p>
        <br><p></p></br>
        {% endfor %}
        {% endif %}

    </form>
</body>

</html>